.subtask-input {
    border: none;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.subtask-input:focus {
    outline: none;
}

.subtask-input::placeholder {
    color: #D1D1D1;
}

.subtask-plus-icon {
    filter: brightness(0) saturate(100%) invert(22%) sepia(11%) saturate(1333%) hue-rotate(176deg) brightness(90%) contrast(98%);
    width: 14px;
    height: 14px;
}

.list-subtask-element {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 16px;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 12px;
    padding-right: 14px;
}

.list-subtask-element-hover:hover {
    background-color: #D1D1D1;
    border-radius: 10px;
}

.list-subtask-element img {
    width: 15px;
    height: 15px;
    margin: 0 8px;
    cursor: pointer;
}

.margin-left {
    margin-left: 12px;
}

.list-subtask-element img:hover {
    transform: scale(1.1);
}

.subtasks-container {
    max-height: 240px;
    overflow: auto;
    min-height: 100px;
}

.list-element-div input {
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    user-select: none;
}

.list-element-div input:focus {
    outline: none;
}

.delete-and-add-icon {
    display: flex;
    align-items: center;
    opacity: 1;
}

.delete-and-add-icon img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.circle-padding-icon {
    padding: 4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.circle-padding-icon:hover {
    background-color: #D1D1D1;
}

.placholder-for-icons {
    height: 20px;
    width: 1px;
    background-color: #2A3647;
}

.dropdown-animation {
    height: 99px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.opacity-null {
    opacity: 0 !important;
}

.disc-with-input {
    display: flex;
    flex: 1;
    align-items: center;
}

.disc-with-input span {
    font-size: 8px;
}


.edit-subtask-style {
    background-color: white;
    border-bottom: 1px solid #29ABE2;
}


@media (max-width: 900px) {
    .list-subtask-element {
        padding: 0;
    }
}