.addTask-form-container {
    height: unset !important;
}

.subtasks-container {
    max-height: unset !important;
}


@media(max-width: 1196px) {
    .add-container {
        margin: 40px;
        min-height: 0;
        height: 90%;
        width: 90%;
    }

    .addTask-prio {
        flex-wrap: wrap;
    }

    .addTask-headline h2{
        font-size: 48px;
    }

    .assigned-select {
        font-size: 16px;
    }

    .addTask-label {
        font-size: 16px;
    }

    .addTask-input {
        font-size: 16px;
    }

    .addTask-textarea {
        font-size: 16px;
    }

    .category-select {
        font-size: 16px;
    }

    .prio-label {
        font-size: 16px;
    }

    .placeholder-addTask {
        margin: 0 12px;
    }

    .assigned-select-input {
        font-size: 16px !important;
    }
}

@media(max-width: 900px) {
    .add-container {
        display: none;
    }

    .list-element-div input {
        width: 160px;
    }

    .list-subtask-element {
        padding-left: 0 !important;
    }

    .addTask-input-container {
        font-size: 16px;
    }

    .assigned-select-input {
        font-size: 16px;
    }

    .subtask-input {
        font-size: 16px !important;
    }
     
}

@media(max-width: 500px) {
    .addTask-input {
        padding: 12px 8px !important;
    }

    .assigned-select {
        padding: 12px 8px !important;
    }

    .addTask-textarea {
        padding: 12px 8px !important;
    }

    .addTask-input-container {
        padding: 12px 8px;
    }
}