@media(max-width: 900px) {
    .addTask-prio {
        flex-wrap: nowrap;
    }

    .addTask-form-container {
        flex-direction: column;
        height: unset;
        overflow: visible;
    }

    .placeholder-addTask {
        display: none;
    }

    .addTask-footer {
        bottom: 0;
    }

    .prio-label {
        padding: 8px;
        width: 100px;
    }

    .prio-label img {
        width: 15px;
        object-fit: contain;
    }

    .addTask-footer {
        margin-top: 40px;
    }
    
    .required-field {
        font-size: 16px;
    }

    .subtasks-container {
        max-height: unset;
        overflow: unset;
    }

    .delete-and-add-icon img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin: 0 8px;
    }

    .create-task-button {
        padding: 16px !important;
        height: 56px !important;
    }

    .content {
        padding: 12px 12px;
    }

}


@media(max-width: 500px) {
    .addTask-footer {
        flex-direction: column;
        position: inherit;
        align-items: flex-start;
    }

    .addTask-footer-buttons {
        margin-top: 40px;
    }

    .addTask-form {
        padding-bottom: 24px;
    }

    .user-dropmenu {
        font-size: 16px;
    }
}

@media(max-width: 420px) {
    .addTask-prio {
        flex-direction: column;
        align-items: center;
    }

    .prio-label {
        padding: 8px 16px;
        width: 136px;
    }


}