.board-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay-container {
    width: 445px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    padding: 48px 40px;
    transition-duration: 0.1s;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;

}

.overlay-container-sliding {
    transform: translateX(100vh);
    transition-duration: 0.1s;
}

.empty-column {
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8A8A8;
}

.overlay-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.overlay-titel h2 {
    font-size: 64px;
    margin: 24px 0;

}

.overlay-table img {
    margin-left: 8px;
}

.task-cat-custom {
    margin:0 !important;
    height: 36px;
    font-size: 23px;
}

.close-icon {
    cursor: pointer;
    padding: 8px 8px;
}

.close-icon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.overlay-task-description {
    width: 100%;
    margin-bottom: 24px;

}

.overlay-task-details {
    position: relative;
    flex: 1;
}


.overlay-table td {
    padding: 0;
    padding-bottom: 24px;
}

.overlay-table td:first-child {
    padding-right: 30px;
    color: #2A3647;
}

.overlay-table table {
    border-collapse: collapse;
}

.overlay-user {
    margin-left: 8px;
}

.assigned-section {
    margin-bottom: 24px;
}

.assigned-section table {
    font-size: 19px;
    margin-top: 8px;
}

.assigned-section td:first-child {
    padding: 8px;
}

.assigned-section span {
    color: #2A3647
}

.subtasks td:first-child {
    padding: 8px;
    width: 18px;
    height: 18px;
}

.subtasks span {
    color: #2A3647;
    margin-bottom: 8px;
}

.subtasks tr {
    display: flex;
   align-items: center;
   margin-left: 8px;
}

.edit-task-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    background-color: white;
}

.delete-task, .edit-task {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 16px;
    color: #2A3647;
}

.delete-task:hover, .edit-task:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(1284%) hue-rotate(165deg) brightness(93%) contrast(89%);
}

.edit-task-section img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.checkbox[type="checkbox"] {
   display: none;
}

.checkbox[type="checkbox"]:checked + label img  {
    content: url(/assets/img/icon/checkbox_checked.svg);
}

.subtasks img {
    cursor: pointer;
}

.spaceholder {
    width: 1px;
    background-color: #D1D1D1;
    height: 24px;
}

.details-content-complete {
    overflow-y: auto;
    max-height: 450px;
}

.task-overlay-prio-text::first-letter {
    text-transform: uppercase;
}

.task_overlay_prio {
    display: flex;
    
}

.subtask-label {
    cursor: pointer;
    user-select: none;

}

@media(max-width: 900px) {
    .overlay-container {
        width: 300px;
        border-radius: 20px;
        padding: 24px 20px;
    
    }

    .overlay-titel h2 {
        font-size: 40px;
        margin: 12px 0;
    
    }

    .task-cat-custom {
        font-size: 16px;
        align-content: center;
    }

    .details-content-complete {
        height: 500px;
    }

}

@media(max-width: 400px) {
    .overlay-container {
        padding: 8px;
        width: 280px;
    }

    .overlay-titel h2 {
        font-size: 20px;
    }
}