@media(max-width: 1500px) {
    .row {
        gap: 12px;
    }

}

@media(max-width: 1380px) {
 

    .content {
        padding: 20px 20px;
    }
}

@media(max-width: 1333px) {
   
    .column {
        width: 200px;
    }

    .column-headline {
        width: unset;
    }

    .progress progress {
        width: 60px;
    }

}

@media(max-width: 1000px) {
    .board-headline {
        flex-direction: column;
        align-items: flex-start;
    }

    .column {
        width: 160px;
    }

    .subtask-text {
        display: none;
    }

    .column-headline h3 {
        font-size: 16px !important;
    }

    .progress progress {
        width: 90px;
    }
}

@media (max-width: 940px) {
    .content {
        padding: 20px 10px;
    }
}


@media(max-width: 900px) {

    .column-headline {
        width: 100%;
    }

    .progress progress {
        width: 128px;
    }

    .subtask {
        display: flex;
    }

    .subtask-text {
        display: block;
    }

    .mobile-button {
        display: block;
    }

    .row {
        flex-direction: column;
    }

    .add-task-button {
        display: none;
    }

    .add-task-button-mobile {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .board-text-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .add-task-section {
        width: 100%;
        justify-content: center !important;
    }

    .row {
        justify-content: flex-start;
    }

    .column {
        width: 100%;
        flex-direction: row !important;
    }


    .column-container {
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        padding: 12px 0 12px 10px;
    }

    .task {
        height: fit-content;
        width: 256px;
        min-width: 256px;
    }

    .content {
        padding: 0 8px;
        overflow: hidden;
    }

    .search-task {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .input-task {
        flex: 1;
    }

    .search-task-input-field {
        justify-content: space-between;
    }

    .form-for-input {
        width: 100%;
    }


}