* {
    margin: 0;
    box-sizing: border-box;
}


.background {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #F6F7F8;
}


.logo {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 77px;
}


.login-content {
    height: 550px;
    width: 652px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}


.input-field {
    display: flex;
    justify-content: space-between;
    width: 422px;
    height: 48px;
    border: 1px solid grey;
    padding: 12px 21px;
    border-radius: 10px;
}


input {
    border: 0;
}


h2 {
    width: 315px;
    height: 73px;
    text-align: center;
    font-size: 61px;
    border-bottom: 3px solid #29ABE2;
    position: relative;
    display: inline-block;
}