.img-back {
    position: absolute;
    top: 32px;
    left: 32px;
    height: 32px;
    width: 32px;
}


.signup-content {
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 32px;
    padding: 48px 88px;
    position: relative;
}


.input-container-sgup {
    gap: 16px;
}


.input-chebox {
    display: flex;
    align-self: center;
    gap: 10px;
    width: 231px;
}


.input-chebox input {
    opacity: 0;
    width: 1px;
}


.input-chebox span {
    color: #29ABE2;
}


.submit-container button:hover {
    border-color: #29ABE2;
    transform: scale(1.05);
}


@media (max-width: 1200px) {
    .signup-content {
        padding: 32px 60px;
    }
}


@media (max-width: 940px) {
    .logo {
        width: 64px;
        height: 78px;
        top: 37px;
        left: 38px;
    }
    .submit-container button {
        font-size: 16px;
        width: 180px;
        height: 51px;
    }
}


@media (max-width: 500px) {
    .signup-content {
        padding: 32px 15px;
    }
}