 * {
     box-sizing: border-box;
     margin: 0;
 }

 body,html {
    font-family: "Inter", sans-serif;     
    background-color: #F6F7F8;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
 }

 .dashboardContainer {
     display: flex;
     flex-direction: column;
     margin-left: 128px;
     max-width: 1920px;
 }

.dashboardHeader {
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.titleGroup {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 73px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.titleGroup h1 {
    font-size: 61px;
    font-weight: 700;
}

.titleDivider {
    width: 3px;
    border: 3px;
    height: 60px;
    background-color: #29ABE2;
}

.titleGroup span {
    font-size: 27px;
    color: #2A3647;
    font-weight: 400;
}

.contentMetric{
    margin-top: 35px;
    display: flex;
}

.devideContent{
    gap: 25px;
    align-items: center;
    display: flex;
}

.greeting{
    gap: 3px;
    width: 385px;
    height: 136px;
}

.greetingName{
    color: #29ABE2;
    font-weight: 700;
    font-size: 64px;
}

.greetingText{
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.metricsGrid {
    width: 560px;
    max-width: 100%;
    margin: 0 auto;
   }

.metricCardsUp{
    width: 264px;
    height: 168px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.metricCardsUp:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.08s ease-out, box-shadow 0.08s ease-out;
}

.firstMetric{
   height: 168px;
   display: flex;
   flex-direction: row;
   gap: 18px;
   margin-bottom: 25px;
   width: 100%;
}

.cardUpLeft{
    padding: 38px 19px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.metricCardsUp.clicked{
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ContentCardUp{
    width: 63px;
    height: 101px;
    text-align: center;
}

.frameLogo{
    width: 69px;
    height: 69px;
}

.textLabel{
    font-size: 20px;
    font-weight: 400;
}

.cardUpRight{
    padding: 38px 58px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.middleMetric{
    height: 168px;
    border-radius: 30px;
    gap: 61px;
    background-color: white;
    padding: 28px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.middleMetric:hover{
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.middleCardLeft{
    display: flex;
    width: 130px;
    height: 96px;
    gap: 18px;
    align-items: center;
}

.urgentLogo{
    height: 60px;
    width: 60px;
}

.urgentContent{
    width: 52px;
    height: 96px;
    text-align: center;
}

.metricNumber {
    font-size: 64px;
    font-weight: 600;
    color: black;
    width: 50px;
    height: 77px;
}

.metricLabel {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.devider{
    border:  2px;
    width: 3px;
    height: 102px;
    background-color: #D1D1D1;
}

.middleCardright{
    display: flex;
    width: 178px;
    height: 57px;
    gap: 13px;
    flex-direction: column;
    align-items: center;
}

.metricDate{
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

.downMetric{
    display: flex;
    height: 170px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px;
    }

.metricCardDown{
    width: 168px;
    height: 168px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    gap: 13px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.metricCardDown:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.cardDownleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.cardDownMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardDownRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* responsive */

@media (max-width: 1300px) {
    .greeting {
        width: 200px;
    }
}

@media (max-width: 1135px) {
    .greeting {
        display: none;
    }
}

@media (max-width: 990px) {
    .titleGroup h1{
     font-size: 48px;   
    }
        .titleGroup span {
            font-size: 23px;
        }
}

@media (max-width: 900px) {
    .dashboardContainer {
        margin-left: 0;
        align-items: center;
    }
    .contentMetric {
        justify-content: center;
    }
}

@media (max-width: 570px) {
    .metricsGrid{
        display: none;
    }
    .dashboardHeader{
        display: none;
    }
    .greeting {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .greetingText {
        font-size: 36px;
        font-weight: 400;
    }
    .greetingName {
        font-size: 47px;
    }
}