@media (max-width: 1300px) {
    .greeting {
        width: 200px;
    }
} 
@media (max-width: 1135px) {
    .greeting {
        display: none;
        width: 200px;
    }
} 

@media (max-width: 990px) {

    .titleGroup span {
        font-size: 23px;
    }

  .dashboardContainer {
      padding-inline: 56px;
  }

    .dashboardHeader{
        padding-top: 25px;
    }
}

@media (max-width: 570px) {
    .metricsGrid {
        width: 100%;
        max-width: 396px;
        align-self: center;
    }
    .content{
        display: flex;
        padding: 0px 16px;
    }
  .dashboardHeader {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
    .metricsGrid.show-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 32px;
    }

    .metricCardsUp {
        width: 186px;
        height: 110px;
        border-radius: 20px;
    }

    .frameLogo {
        width: 40px;
        height: 40px;
    }

    .middleMetric {
        height: 110px;
        border-radius: 20px;
        gap: 20px;
        width: 100%;
    }

    .urgentLogo {
        height: 40px;
        width: 40px;
    }

    .urgentContent {
        width: 50px;
        height: 73px;
    }

    .devider {
        height: 68px;
    }

    .textLabel {
        font-size: 14px;
    }

    .metricNumber {
        font-size: 47px;
    }

    .middleCardright {
        width: 135px;
        height: 44px;
        gap: 8px;
        text-align: center;
    }

    .metricDate {
        font-size: 16px;
    }

    .downMetric {
        height: 116px;
        width: 100%;
        gap: 12px;
    }

    .metricCardDown {
        width: 116px;
        height: 116px;
        border-radius: 20px;
    }

    .titleGroup {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 8px;
        height: 104px;
        width: 223px;
    }

    .desktop-divider {
        display: none;
    }

    .mobile-divider {
        display: block;
        width: 90px;
        height: 3px;
    }

    .titleGroup h1 {
        font-size: 33px;
    }

    .titleGroup span {
        font-size: 16px;
    }

    .greeting {
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .greetingText {
        font-size: 36px;
        font-weight: 400;
    }

    .greetingName {
        font-size: 47px;
    }
}

 @media (max-width: 400px) {
     .metricsGrid.show-mobile {
         width: 100%;
         max-width: 300px;
         gap: 12px;
         margin-top: 24px;
     }

     .metricCardsUp {
         width: 140px;
         height: 100px;
         border-radius: 20px;
     }

     .frameLogo {
         width: 32px;
         height: 32px;
     }

     .contentCard {
         width: 36px;
         height: 65px;
        
     }

     .textLabel {
         font-size: 13px;
     }

     .metricNumber {
         font-size: 36px;
     }

     .middleMetric {
         width: 300px;
         height: 90px;
         gap: 14px;
         padding: 16px;
         border-radius: 20px;
     }

     .urgentLogo {
         width: 36px;
         height: 36px;
     }

     .urgentContent {
         width: 42px;
         height: 60px;
     }

     .devider {
         height: 50px;
     }

     .middleCardright {
         width: 110px;
         height: 38px;
         gap: 4px;
         text-align: center;
     }

     .metricDate {
         font-size: 14px;
     }

     .metricLabel {
         font-size: 12px;
     }

    .downMetric {
         max-width: 300px;
         width: 100%;
     }
    .metricCardDown {
        width: 96px;
        height: 96px;
          }

     .mobile-divider {
         width: 50px;
         height: 3px;
     }

     .greetingText {
         font-size: 32px;
     }

     .greetingName {
         font-size: 42px;
     }
 }